QStatusBar {
  background-color: #14181e;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #2b3138;
  padding: 4px;
}

QStatusBar QLabel {
  background: transparent;
  color: #f87171;
  padding: 2px 6px;
}

QLabel#status_session_label {
  color: #f87171;
}